  <!----Session Content---->
</section>

  <footer class="footer">
    <div class="footer-container">
      <div class="footer-images">
        <img src="/images/footer/lgpd.png" alt="LGPD">
        <img src="/images/footer/gdpr.png" alt="GDPR">
        <a href="/iso27001.html"><img src="/images/footer/ISO-27001-safearmor.png" alt="ISO 27001"></a>
      </div>

      <p>
        © 2025 SafeArmor. Todos os direitos reservados.<br>
        <br>
        <br/>
        <span class="footer-info">
          <i class="fa fa-clock-o"></i>
          Horário Comercial Segunda a sexta, 09:00 às 17:00
	  Para suporte técnico:
        </span><br>

        <span class="footer-info">
          <i class="fa fa-envelope"></i>
          <a href="mailto:contato@safearmor.com.br">contato@safearmor.com.br</a>
      </span>
      <br/>
      <span class="footer-info">
        <i class="fa fa-phone"></i>
        <a href="tel:+5547999236956">(47) 99923-6956</a>
      </span>
      <br>
      </br>

        <a href="/politica-de-privacidade" target="_blank" rel="noopener">Política de Privacidade</a><br>
        <a href="/software-livre" target="_blank" rel="noopener">Compromisso com o Software Livre e Open Source</a><br>
      </p>

      <div class="footer-social">
        <a href="https://www.linkedin.com/company/safearmor" target="_blank" aria-label="LinkedIn">
          <i class="fa fa-linkedin"></i>
        </a>
        <a href="https://facebook.com/safearmor" target="_blank" aria-label="Facebook">
          <i class="fa fa-facebook"></i>
        </a>
        <a href="https://github.com/safearmor" target="_blank" aria-label="GitHub">
          <i class="fa fa-github"></i>
        </a>
      </div>
    </div>
  </footer>
