  <!----Session Content---->
</section>

  <footer class="footer">
    <div class="footer-container">
      <div class="footer-images">
        <img src="/images/footer/lgpd.png" alt="LGPD">
        <img src="/images/footer/gdpr.png" alt="GDPR">
        <a href="/iso27001.html"><img src="/images/footer/ISO-27001-safearmor.png" alt="ISO 27001"></a>
      </div>

      <p>
        © 2025 SafeArmor. Todos os direitos reservados.<br>
        <br>
        <br/>


    <!-- Contatos -->
    <div class="footer-contacts">
      <div class="footer-info">
        <i class="fa fa-clock-o"></i>
        <span>Horário Comercial: Segunda a sexta, 09:00 às 17:00</span>
      </div>

      <div class="footer-info">
        <i class="fa fa-phone"></i>
        <a href="https://wa.me/5547999236956">(47) 99923-6956</a>
        <small class="footer-note">
          WhatsApp exclusivo para contato comercial (orçamentos e negociações)
        </small>
      </div>

      <div class="footer-info">
        <i class="fa fa-envelope"></i>
        <a href="mailto:comercial@safearmor.com.br">comercial@safearmor.com.br</a>
          <small class="footer-note">
          Email exclusivo para contato comercial (orçamentos e negociações)
        </small>
      </div>

      <div class="footer-info">
        <i class="fa fa-cogs"></i>
        <a href="https://suporte.safearmor.com.br/help/43155784">Suporte Técnico</a>
        <small class="footer-note">
          Canal exclusivo para chamados técnicos
        </small>
      </div>
    </div>

        <a href="/politica-de-privacidade" target="_blank" rel="noopener">Política de Privacidade</a><br>
        <a href="/software-livre" target="_blank" rel="noopener">Compromisso com o Software Livre e Open Source</a><br>
      </p>

      <div class="footer-social">
        <a href="https://www.linkedin.com/company/safearmor" target="_blank" aria-label="LinkedIn">
          <i class="fa fa-linkedin"></i>
        </a>
        <a href="https://facebook.com/safearmor" target="_blank" aria-label="Facebook">
          <i class="fa fa-facebook"></i>
        </a>
        <a href="https://github.com/safearmor" target="_blank" aria-label="GitHub">
          <i class="fa fa-github"></i>
        </a>
      </div>
    </div>
  </footer>
