name: Deploy MkDocs Docs

on:
  push:
    branches:
      - main  # só roda quando a main recebe commits

jobs:
  deploy-docs:
    runs-on: ubuntu-latest

    steps:
      # Checkout do repositório
      - uses: actions/checkout@v3

      # Configurar Python
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.x

      # Instalar MkDocs e Material
      - name: Install MkDocs
        run: pip install --upgrade pip mkdocs mkdocs-material

      # Build do site
      - name: Build MkDocs site
        run: mkdocs build --clean

      # Deploy para gh-pages
      - name: Deploy MkDocs to gh-pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}  # não precisa de PAT
          publish_dir: ./site
          publish_branch: gh-pages
          keep_files: false
